@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1250px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 91%;
  }
}

.header {
  background-color: #222222;
  max-height: 75px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 18px 0;
}

@media (max-width: 767px) {
  .header__wrapper {
    margin: 0 16px 0 16px;
  }
}

.header__logo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  cursor: pointer;
  position: relative;
}

.header__search {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 25px 0 0;
}

.header__search_inp {
  background-color: #E8E8E8;
  border-radius: 25px 25px 25px 25px;
  border: none;
  padding: 5px 15px;
  opacity: 0.67;
  max-width: 210px;
  height: 25px;
  display: none;
  position: absolute;
}

.header__search_inp:hover {
  background-color: #A4A4A4;
}

.header__search_inp:focus {
  background-color: #A4A4A4;
  outline: 1px solid #F16D7F;
  color: #FBFBFB;
}

.header__search_inp:active {
  background-color: #5D5D5D;
  outline: 1px solid #E05C6E;
  color: #FBFBFB;
}

.header__search_inp-on {
  display: block;
  margin: 0 0 0 50px;
}

.header__search_img {
  fill: #E8E8E8;
}

.header__search_img:hover {
  fill: #E05C6E;
}

.header__search_img:focus {
  fill: #E05C6E;
}

.header__search_img:active {
  fill: #f33e5c;
}

.header__menu-account-shopcart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__menu_img {
  fill: #E8E8E8;
}

.header__menu_img:hover {
  fill: #E05C6E;
}

.header__menu_img:focus {
  fill: #E05C6E;
}

.header__menu_img:active {
  fill: #f33e5c;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.header__link_img {
  fill: #E8E8E8;
}

.header__link_img:hover {
  fill: #E05C6E;
}

.header__link_img:focus {
  fill: #E05C6E;
}

.header__link_img:active {
  fill: #f33e5c;
}

.header__menu-btn {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header__menu-img {
  fill: var(--header__menu-img);
}

.nav {
  background-color: #FFFFFF;
  padding: 38px 34px;
  height: 100%;
  min-height: 764px;
  width: 100%;
  max-width: 232px;
  position: absolute;
  top: 75px;
  -webkit-transition: right .7s linear;
  transition: right .7s linear;
  display: none;
}

.nav__item {
  margin: 12px 0 0 0;
}

.nav__item_link {
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 24px 0;
}

.nav__sub-item {
  margin: 0 0 11px 0;
}

.nav__sub-item:first-child {
  margin: 11px 0 11px 0;
}

.nav__sub-item_list {
  margin: 0 0 0 24px;
}

.nav__sub-item_link {
  color: #6F6E6E;
  text-decoration: none;
}

.nav__sub-item_link:hover {
  cursor: pointer;
  color: #4b3e3e;
}

.nav__sub-item_link:focus {
  cursor: pointer;
  color: #4b3e3e;
}

.nav__sub-item_link:active {
  cursor: pointer;
  color: #2c2424;
}

.display-block {
  right: 0;
  display: block;
}

.footer__revie-and-sub {
  background-image: url(../img/footer-background-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper {
  background-color: #222222;
}

.footer__rights-and-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

@media (max-width: 767px) {
  .footer__rights-and-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__rights {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 767px) {
  .footer__rights {
    margin: 43px 0 0 0;
  }
}

.footer__social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

@media (max-width: 767px) {
  .footer__social-media-list {
    margin: 40px 0 0 0;
  }
}

.footer__social-media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  fill: #000000;
}

.footer__social-media-link:hover {
  background-color: #F16D7F;
  fill: #FFFFFF;
}

.footer__social-media-link:focus {
  background-color: #F16D7F;
  fill: #FFFFFF;
}

.footer__social-media-link:active {
  background-color: #f33e5c;
  fill: #FFFFFF;
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 97px 0;
}

@media (max-width: 767px) {
  .sales__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 64px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sales__item {
  width: 31.5%;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1250px) {
  .sales__item {
    width: 31.5%;
    min-height: 161px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    margin: 0 0 32px 0;
    min-height: 249px;
  }
}

.sales__item::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 22, 22, 0.7);
  z-index: 2;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.sales__item:hover::before {
  background-color: rgba(33, 22, 22, 0);
}

.sales__item-par {
  color: #FFFFFF;
  text-transform: uppercase;
  z-index: 3;
  line-height: 19px;
  font-size: 16px;
}

.sales__item-header {
  color: #F16D7F;
  text-transform: uppercase;
  z-index: 3;
  font-size: 24px;
  line-height: 28px;
  margin: 10px 0 0 0;
}

.sales__item_woman {
  background-image: url(../img/sales-woman.jpg);
}

.sales__item_man {
  background-image: url(../img/sales-man.jpg);
}

.sales__item_kids {
  background-image: url(../img/sales-kids.jpg);
}

.sales__item_accesories {
  background-image: url(../img/sales-accesories.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 180px;
  width: 100%;
  margin: 30px 0 0 0;
}

@media (max-width: 1250px) {
  .sales__item_accesories {
    min-height: 116px;
    margin: 30px 0 0 0;
  }
}

@media (max-width: 767px) {
  .sales__item_accesories {
    min-height: 111px;
    margin: 0;
  }
}

.benefits {
  background-color: #222222;
  padding: 104px 0;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1250px) {
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 140px;
}

.benefits__item-img {
  margin: 0 0 28px 0;
}

.benefits__item-header {
  color: #FBFBFB;
  margin: 0 0 16px 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: 400;
}

.benefits__item-par {
  color: #FBFBFB;
  text-align: center;
  font-weight: 300;
}

.brand {
  background: #F1E4E6;
  margin: 0 0 65px 0;
}

@media (max-width: 1250px) {
  .brand__img {
    height: 367px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.brand__wrp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 765px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1250px) {
  .brand__wrp {
    height: 367px;
  }
}

@media (max-width: 767px) {
  .brand__wrp {
    height: 367px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  border-left: solid 12px;
  padding: 0 0 0 15px;
  border-color: #F16D7F;
  width: 50%;
}

@media (max-width: 1250px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    width: 236px;
    text-align: center;
  }
}

.brand__title_subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

@media (max-width: 1250px) {
  .brand__title_subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .brand__title_subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

.brand__title_subtitle-pink {
  color: #F16D7F;
}

.product__header {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
  text-align: center;
}

.product__text {
  color: #9f9f9f;
  text-align: center;
  margin: 0 0 48px 0;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin: 0 0 48px 0;
}

@media (max-width: 1250px) {
  .product__list {
    gap: 16px;
    margin: 0 0 32px 0;
  }
}

@media (max-width: 767px) {
  .product__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 0 41px 0;
  }
}

.product__item {
  width: 31.5%;
  min-width: 360px;
  height: 580px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F8F8F8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.product__item-img {
  position: relative;
}

.product__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__item-overlay-btn {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  padding: 10px 14px;
  cursor: pointer;
}

.product__item-header {
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 0 12px 0;
}

.product__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 16px;
}

.product__item-par {
  color: #5D5D5D;
  margin: 0 0 18px 0;
  font-size: 14px;
}

.product__item-price {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
}

.product__link {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 14px 38px;
  text-decoration: none;
}

.product__link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.product__link:focus {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.product__link:active {
  background-color: #f33e5c;
  color: #FFFFFF;
}

.product__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 96px auto;
}

@media (max-width: 1250px) {
  .product__link-wrapper {
    margin: 0 auto 65px auto;
  }
}

@media (max-width: 767px) {
  .product__link-wrapper {
    margin: 0 auto 96px auto;
  }
}

.product__item:hover .product__item-overlay {
  opacity: 1;
}

.product__item:focus .product__item-overlay {
  opacity: 1;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 64px auto 96px auto;
}

@media (max-width: 767px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registration__header {
  min-height: 148px;
  background-color: #F1E4E6;
}

.registration__header-txt {
  text-transform: uppercase;
  text-align: start;
  padding: 60px 0 0 0;
  color: #F16D7F;
}

@media (max-width: 767px) {
  .registration__header-txt {
    text-align: center;
  }
}

.registration__form {
  margin: 0 125px 0 0;
}

@media (max-width: 1250px) {
  .registration__form {
    margin: 0 25px 0 0;
  }
}

.registration__form-radio {
  margin: 0 10px 0 0;
  width: 17px;
  height: 17px;
}

.registration__form-radio-label {
  margin: 0 20px 0 0;
  font-size: 11px;
  line-height: 13px;
}

.registration__form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__form-inp {
  padding: 14px 176px 14px 17px;
  border: 1px solid;
  border-color: #A4A4A4;
  margin: 0 0 21px 0;
}

.registration__form-legend {
  margin: 0 0 21px 0;
  font-size: 16px;
  line-height: 19px;
}

.registration__form-gender {
  margin: 34px 0 34px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__form-btn {
  margin: 39px 0 0 0;
  background-color: #F16D7F;
  border: none;
  padding: 17px 29px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .registration__form-btn {
    margin: 40px 0 40px 0;
  }
}

.registration__form-btn:hover {
  background-color: #E05C6E;
}

.registration__form-btn:focus {
  background-color: #E05C6E;
}

.registration__form-btn:active {
  background-color: #f33e5c;
}

.registration__form-btn-img {
  fill: #FFFFFF;
  padding: 0 0 0 20px;
}

.registration__form-text {
  font-size: 13px;
  color: #B1B1B1;
}

.registration__description {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-weight: 300;
}

@media (max-width: 1250px) {
  .registration__description {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .registration__description {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
  }
}

.registration__description-header {
  text-transform: uppercase;
  margin: 0 0 22px 0;
  font-weight: 300;
}

.registration__description-text {
  margin: 0 0 22px 0;
}

.registration__description-item {
  position: relative;
  margin: 0 0 16px 0;
  padding: 0 0 0 43px;
}

.registration__description-item:before {
  content: ' ';
  width: 20px;
  height: 16px;
  position: absolute;
  background-image: url(../img/сheck-mark.svg);
  background-size: 20px 16px;
  background-color: transparent;
  padding: 0 22px 0 0;
  background-repeat: no-repeat;
  left: 0;
  top: 8px;
}

.shoping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 96px auto 128px auto;
}

@media (max-width: 1250px) {
  .shoping-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 59px auto 128px auto;
  }
}

@media (max-width: 767px) {
  .shoping-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 39px auto 96px auto;
  }
}

.shoping-cart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shoping-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  min-width: 57%;
  max-height: 306px;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

@media (max-width: 1250px) {
  .shoping-cart__item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .shoping-cart__item {
    width: 100%;
  }
}

.shoping-cart__item_header {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
  margin: 0 0 42px 0;
}

.shoping-cart__item_text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin: 0 0 6px 0;
}

.shoping-cart__item_price {
  color: #F16D7F;
}

.shoping-cart__item_description {
  margin: 22px 0 0 31px;
  min-width: 60%;
}

.shoping-cart__item_close-btn {
  fill: #575757;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 28px 22px 0 57px;
}

@media (max-width: 1250px) {
  .shoping-cart__item_close-btn {
    top: 28px;
    right: 24px;
  }
}

@media (max-width: 767px) {
  .shoping-cart__item_close-btn {
    margin: 17px 12px 0 0;
  }
}

.shoping-cart__item_close-btn:hover {
  fill: #E05C6E;
}

.shoping-cart__item_close-btn:focus {
  fill: #E05C6E;
  outline: 1px solid #575757;
}

.shoping-cart__item_close-btn:active {
  fill: #f33e5c;
}

.shoping-cart__item_inp {
  border: 1px solid #A4A4A4;
  width: 43px;
  height: 24px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  margin: 0 0 0 24px;
}

.shoping-cart__item_inp:hover {
  border: 1px solid #B1B1B1;
  background-color: #F1E4E6;
}

.shoping-cart__item_inp:focus {
  border: 1px solid #B1B1B1;
  background-color: #F1E4E6;
}

.shoping-cart__item_inp:active {
  border: 1px solid #B1B1B1;
  background-color: #F1E4E6;
}

.shoping-cart__btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 0 0;
}

.shoping-cart__btn {
  padding: 17px 41px;
  border: 1px solid #A4A4A4;
  background: transparent;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  font-family: Lato;
}

.shoping-cart__btn:hover {
  border: none;
  background-color: #E05C6E;
  color: #E8E8E8;
}

.shoping-cart__btn:focus {
  border: none;
  background-color: #E05C6E;
  color: #E8E8E8;
}

.shoping-cart__btn:active {
  border: none;
  background-color: #f33e5c;
  color: #E8E8E8;
}

.review {
  max-width: 360px;
  max-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 97px 0 126px 0;
}

.review__par {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.reviews-and-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1250px) {
  .reviews-and-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .reviews-and-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
}

.subscribe__par {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__form-inp {
  background-color: #E8E8E8;
  border-radius: 25px 0 0 25px;
  border: none;
  padding: 10px 15px;
  opacity: 0.67;
  width: 210px;
  height: 30px;
}

.subscribe__form-inp:hover {
  background-color: #A4A4A4;
}

.subscribe__form-inp:focus {
  background-color: #A4A4A4;
  outline: 1px solid #F16D7F;
  color: #FBFBFB;
}

.subscribe__form-inp:active {
  background-color: #5D5D5D;
  outline: 1px solid #E05C6E;
  color: #FBFBFB;
}

.subscribe__form-btn {
  background-color: #F16D7F;
  border-radius: 0 25px 25px 0;
  border: none;
  padding: 10px 15px;
  color: #FFFFFF;
  font-weight: 400;
}

.subscribe__form-btn:hover {
  background-color: #E05C6E;
}

.subscribe__form-btn:focus {
  background-color: #E05C6E;
}

.subscribe__form-btn:active {
  background-color: #f33e5c;
}

@media (max-width: 1250px) {
  .subscribe__form {
    margin: 0 0 140px 0;
  }
}

@media (max-width: 767px) {
  .subscribe__form {
    margin: 0 0 109px 0;
  }
}

.shiping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1250px) {
  .shiping {
    margin: 64px 0 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .shiping {
    margin: 48px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shiping__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1250px) {
  .shiping__form {
    margin: 0 15px 0 0;
    width: 46%;
  }
}

.shiping__form_header {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.shiping__form_inp {
  min-width: 360px;
  height: 45px;
  padding: 0 16px;
  margin: 0 0 20px 0;
  border: 1px solid #575757;
  background-color: #FFFFFF;
}

.shiping__form_inp:hover {
  background-color: #B1B1B1;
  border: 1px solid #6F6E6E;
}

.shiping__form_inp:focus {
  background-color: #B1B1B1;
  border: 1px solid #6F6E6E;
}

.shiping__form_inp:active {
  background-color: #A4A4A4;
  border: 1px solid #6F6E6E;
}

.shiping__form_btn {
  border: 1px solid #A4A4A4;
  background: transparent;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  max-width: 100px;
  height: 35px;
  font-family: Lato;
}

.shiping__form_btn:hover {
  border: none;
  background-color: #E05C6E;
  color: #E8E8E8;
}

.shiping__form_btn:focus {
  border: none;
  background-color: #E05C6E;
  color: #E8E8E8;
}

.shiping__form_btn:active {
  border: none;
  background-color: #f33e5c;
  color: #E8E8E8;
}

.shiping__checkout-card {
  height: 214px;
  margin: 57px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F3F3;
}

@media (max-width: 1250px) {
  .shiping__checkout-card {
    width: 46%;
    margin: 37px 0 0 0;
  }
}

@media (max-width: 767px) {
  .shiping__checkout-card {
    margin: 45px 0 0 0;
    width: 96%;
  }
}

.shiping__checkout-price {
  border-bottom: 1px solid #E2E2E2;
}

.shiping__checkout_sub-price {
  font-size: 11px;
  line-height: 13px;
  color: #A4A4A4;
  text-transform: uppercase;
  margin: 40px 34px 12px 210px;
  font-weight: 400;
}

.shiping__checkout_total-price {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  margin: 0 37px 21px 150px;
  font-weight: 300;
}

.shiping__price {
  padding: 0 0 0 20px;
}
/*# sourceMappingURL=styles.css.map */