
$black: #222222;
$black-header-color: #000000;
$pink-bkg: #F1E4E6;
$pink-color: #F16D7F;
$prod-card-color:#5D5D5D;
$footer-text-color: #FBFBFB;
$sales-text-color:#FFFFFF;
$product-item-description:#F8F8F8;
$header__menu-img:#E8E8E8;
$registration-form-inp: #A4A4A4;
$registration-form-text: #B1B1B1;
$btn-hover: #E05C6E;
$btn-active: rgb(243, 62, 92);
$nav-link: #6F6E6E;
$nav-link-hover: #4b3e3e;
$nav-link-active: #2c2424;
$cart-txt-fill: #575757;

$tablet-width: 1250px;
$mobile-width: 767px;