.footer {
    &__revie-and-sub {
        background-image: url(../img/footer-background-img.svg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }   

    &__wrapper {
        background-color: $black;
    }

    &__rights-and-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &__rights {
        color: $footer-text-color;
        font-size: 16px;
        line-height: 19px;

        @include mobile {
            margin: 43px 0 0 0;
        }
    }

    &__social-media-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        @include mobile {
            margin: 40px 0 0 0;
        }
    }

    &__social-media-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sales-text-color;
        width: 30px;
        height: 30px;
        fill: $black-header-color;

        &:hover {
            background-color: $pink-color;
            fill: $sales-text-color;
        }
        &:focus {
            background-color: $pink-color;
            fill: $sales-text-color;
        }
        &:active{
            background-color: $btn-active;
            fill: $sales-text-color;
        }
    }
}
