.shoping-cart {
    display: flex;
    justify-content: space-between;
    margin: 96px auto 128px auto;

    @include tablet {
        flex-direction: column;
        margin: 59px auto 128px auto;
    }

    @include mobile {
        flex-direction: column;
        margin: 39px auto 96px auto;
    }

    &_wrp {
        width: 57%;

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }
    }



    &__list{
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        justify-content: start;
        width: 100%;
        max-height: 306px;
        margin: 0 0 40px 0;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

        @include mobile {
            justify-content: space-between;
            margin: 0 0 32px 0;
        }

        &_img {

            @include mobile {
                width: 143px;
                height: 188px;
            }
        }
        &_header {
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: $black;
            font-weight: 400;
            margin: 0 0 42px 0;

            @include mobile {
                font-size: 16px;
                line-height: 19px;
                margin: 0 0 25px 0;
            }
        }

        &_text {
            font-size: 22px;
            line-height: 26px;
            color: $cart-txt-fill;
            margin: 0 0 6px 0;

            @include mobile {
                font-size: 14px;
                line-height: 17px;
                margin: 0 0 4px 0;
            }
        }

        &_price {
            color: $pink-color;
        }

        &_description{
            margin: 20px 30px 20px 30px;
            min-width: 40%;

            @include mobile {
                margin: 10px 10px 10px 10px;
            }
        }

        &_close-btn {
            fill: $cart-txt-fill;
            align-self: flex-start;
            background-color: transparent;
            border: none;
            outline: none;
            margin: 28px 22px 0 5px;

            @include mobile {
                margin: 17px 12px 0 0;
            }

            &:hover {
                fill: $btn-hover;
            }

            &:focus {
                fill: $btn-hover;
                outline: 1px solid $cart-txt-fill;
            }

            &:active {
                fill: $btn-active;
            }
        }

        &_inp {
            border: 1px solid $registration-form-inp;
            width: 43px;
            height: 24px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
            margin: 0 0 0 24px;

            &:hover {
                border: 1px solid $registration-form-text;
                background-color: $pink-bkg;
            }

            &:focus {
                border: 1px solid $registration-form-text;
                background-color: $pink-bkg;
            }

            &:active {
                border: 1px solid $registration-form-text;
                background-color: $pink-bkg;
            }
        }   
    }

    &__btn-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 32px 0 0 0;

        @include mobile {
            margin: 0 auto 0 auto;
        }
    }


    &__btn {
        padding: 17px 41px;
        border: 1px solid $registration-form-inp;
        background: transparent;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: $black-header-color;
        font-family: Lato;

        @include mobile {
            font-size: 12px;
            line-height: 14px;
            padding: 9px 17px;
            text-transform: none;
        }

        &:hover {
            border: none;
            background-color: $btn-hover;
            color: $header__menu-img;
        }

        &:focus {
            border: none;
            background-color: $btn-hover;
            color: $header__menu-img;
        }

        &:active {
            border: none;
            background-color: $btn-active;
            color: $header__menu-img;
        }
    }
}

